main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
  min-height: calc(100vh - 46.4rem);
}

.employee-view {
  position: relative;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 144rem;
  margin: 0 auto;
  grid-gap: 10%;
}

.up-arrow {
  position: sticky;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;

  img {
    height: 7.2rem;
    visibility: visible;
    &:hover {
      cursor: pointer;
    }
  }
}
