.no-image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 1px solid #8808e0;
}

.upload {
  display: flex;
  flex-direction: column;
  position: relative;
  &-label {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    img {
      height: 3rem;
      margin-right: 2rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
  &-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

.image-label {
  border-radius: 50%;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}
